.justify {
    text-align:center;
}

body {
    background:#e6e6fa;
}

h1 {
    text-align:center;
}

li {
    list-style:none;
    display:inline;
    padding:10px;
    text-align:left;
}

li a {
    text-align:center;
}

.pictures {
    margin:0 auto;
    text-align:center;
    display:inline-block;
}

.fifty {
    width:50%;
}

.left {
    float:left;
}

.right {
    float:right;
}

.pinktext {
    color:pink;
}
