.justify {
    text-align:center;
}

body {
    background:white;
    font-family: 'Amatic SC', cursive; 
    font-size: 28px; 
}

h1 {
    text-align:center;
}

li {
    list-style:none;
    display:inline;
    padding:10px;
    text-align:center;
}

li a {
    text-align:center;
}

.pictures {
    margin:1 auto;
    text-align:center;
    display:inline-block;
}

.fifty {
    width:50%;
}

.left {
    float:left;
}

.right {
    float:right;
}

.pinktext {
    color:#ADD8E6;
}
